* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightblue;
  background-color: #44b78b;
}

/* a .color_w {
  color: white;
} */

#container {
  width: 1400px;
  margin: 0 auto;
  padding-left: 30px;
  padding-bottom: 40px;
  /* text-align: center; */
}

.section {
  width: 450px;
  display: inline-block;
  vertical-align: top;
}

.section input {
  width: 200px;
}

.h1_style {
  color: yellow;
  margin-top: 20px;
}

img {
  /* width: 50px;
  height: 50px;
  border: 1px solid; */
  border-radius: 50%;
}

/* img {
  object-fit: cover;
  width: 150px;
  height: 150px;
} */

.error {
  color: red;
  margin-left: 0px;
}

button {
  /* background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px; */
  margin-top: 25px;
}
